
html {
  color: #eff3fb;
  background-color: #151f23;
  font-family: sans-serif;
  padding: 8px;
}

header {
  background-color: #3d6b7b;
  text-align: center;
  padding: 5px;
  margin: -15px;
  margin-top: 10px;
}

main {
  margin-top: 110px;
}

hr {
  color: #eff3fb;
}

/* Used these pages to figure out how to make a sticky header:
https://www.w3schools.com/howto/howto_js_sticky_header.asp 
https://www.w3schools.com/howto/howto_css_fixed_menu.asp */
.sticky {
  position:fixed;
  top: 0;
  width: 100%;
}

.top {
  text-align: center;
  margin: 10px auto 10px auto;
  width: 50%;
}

.bio {
  /* Couldn't remember how to italic, lol: https://www.w3schools.com/cssref/pr_font_font-style.asp  */
  font-style: italic;
  color: azure;
  text-align: center;
  padding: 5px
}

.info {
  color: rgb(147, 201, 201);
  width: 100%;
}

/* Used this site to figure out columns:
https://www.w3schools.com/CSS/css3_multiple_columns.asp */
.lists {
  column-count: auto;
  column-width: 463px;
  column-gap: 5px;
}


/* Used this site to figure out how to prevent headers from ending up in the wrong row:
https://stackoverflow.com/questions/26433943/how-can-i-get-the-headings-in-css-columns-to-keep-with-their-paragraphs */
.sublist{
  width:100%;
  display:inline-block;
}

.degree {
  font-style: italic;
}

.button{
  color: #212121;
  background-color: #BDBDBD;
  border: #BDBDBD;
  border-radius: 10px;
  padding: 10px;
  margin: auto;
  box-shadow: 5px 5px 5px #264550;
  display: inline-block;
}

.button:hover{
  background-color: #bbe2f1;
}

footer {
  color: #f2f2f2;
  background-color: #3d6b7b;
  font-size: 25px;
  width: 100%;
  margin: -15px;
  text-align: center;
  padding: 14px 16px;
}

footer p{
  font-size: 18px;
}

/* Styling for social media icons */
.fa {
  padding: 10px;
  margin: 5px;
}




